*{
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image: linear-gradient(lightgrey, rgb(113, 96, 145));
    padding-bottom: 400px;
}

.intro{
    text-align: center;
    margin: 1%;
}

.recipe-list{
    font-size: 20px;
    text-align: center;
}

.ingredients-steps{
    padding: 50px;
}

